################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/RespaldoBD.sql
/PetShopApi/obj
/PetShopApi/bin/Debug/net9.0
/.vscode
/PetShopApi/PetShopApi.csproj.user
/PetShopApi/appsettings.Development.json
/PetShopApi/bin/Release/net9.0
/PetShopApi/Properties/PublishProfiles
/packages
/PetShop.View/.vscode
.vscode/
/PetShop.View/obj/Debug/net9.0
/PetShop.View/obj
/PetShop.View/PetShop.View.csproj.user
/Mi Pagina.slnLaunch.user
/Mi Pagina.sln
/Mi Pagina.sln
