################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/RespaldoBD.sql
/PetShopApi/obj
/PetShopApi/bin/Debug/net9.0
/.vscode
/PetShopApi/PetShopApi.csproj.user
/PetShopApi/appsettings.Development.json
