<nav class="navbar navbar-expand-lg navbar-light bg-white p-3 border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center fw-bold" href="#">
            <img src="images/logo.png" alt="Logo" width="45" height="45" class="me-2 rounded-circle border border-dark">
            Tu Partner Peludo
        </a>
        <div class="d-flex align-items-center">
            <button onclick="logout()" class="btn btn-sm ms-3 btn-outline-danger"><i class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
</nav>